<div class="overlay"></div> <!-- 最初の黒い画面 -->
<div class="slidebox">
    <%= image_tag '5.png' , class:'item1'%>
    <%= image_tag '4.png' , class:'item1'%>
    <%= image_tag '3.png' , class:'item1'%>
    <%= image_tag '2.png' , class:'item1'%>
    <%= image_tag '1.png' , class:'item1'%>
</div>

このサイトは焼き菓子投稿サイトです。お店の評価を見られるサイトはありますが、種類ごとの評価が見られるサイトはありません。このサイトを使って美味しい焼き菓子を見つけて下さい。