<h3>投稿検索</h3>
<div class="search-container">
  <%= search_form_for @q, html: { class: "search-form" } do |f| %>
    
    <!-- 種類選択（種類） -->
    <div class="search-category">
      <%= f.collection_select(:type_id_eq, Type.all, :id, :name, { prompt: '種類を選択' }, { class: 'form-select' }) %>
    </div>
    
    <!-- 検索ボックス -->
    <div class="search-box">
      <%= f.search_field :body_cont, placeholder: "検索したい店名を入力", class: "search-input" %>
    </div>

    <!-- 検索ボタン -->
<div class="search-button">
  <button type="submit" class="search-submit">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>

  <% end %>
</div>
<h3>投稿一覧</h3>

<div class="tweets-container">
<% @tweets.reverse_each do |t| %>
  <div class="tweet">  
    <%= link_to tweet_path(t.id) do %>
      <div class='image-field'>
        <% if t.images.attached? %>
          <% image = t.images.first %>
          <%= image_tag image, width: 330, height: 240, class: "img-resize" %>
        <% else %>
          <%= image_tag "noimage.png", width: 330, height: 240, class: "img-resize" %>
        <% end %>
      </div>
    <% end %>
      <div class="meta-info">
      <div class="meta-item"><strong>種類</strong> <span><%= t.type.name %></span></div>

      <div class="meta-item"><strong>価格</strong> <span><%= t.cost %>円</span></div>

<div class="meta-item">
  <strong>美味しさ</strong>
  <div class="star-rating">
    <% (1..5).each do |i| %>
      <% if i <= t.taste %>
        <%= image_tag "star-on.png", alt: "★", class: "star" %>
      <% elsif i - 0.5 <= t.taste %>
        <%= image_tag "star-half.png", alt: "☆", class: "star" %>
      <% else %>
        <%= image_tag "star-off.png", alt: "☆", class: "star" %>
      <% end %>
    <% end %>
    <span class="rating-score"><%= t.taste %> / 5.0</span>
  </div>
</div>

いいね 
    <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
        <%= link_to tweet_like_path(id: t.id, tweet_id: t.id), data: { turbo_method: :delete } do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% else %>
        <%= link_to tweet_likes_path(id: t.id, tweet_id: t.id), data: { turbo_method: :post }  do %>
            <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %>
      <% end %>
    <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
    <% end %>
    </div>
  
</div>
<% end %>
</div>





<div id='map' calss=indexmap></div>

<style>
#map {
  height: 600px;
  width: 100%;
}
</style>

<!-- js部分 -->
<script>
    function initMap() {

      //初期表示位置
      let latlng = new google.maps.LatLng(38.60, 139.5);
      //デザイン
      let styles = [
           {
            stylers: [
             { "saturation": 0 },
             { "lightness": 0 }
            ]
           }
          ];

      let map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5.5,
          styles: styles,
          center: latlng
      });
      let transitLayer = new google.maps.TransitLayer();
      transitLayer.setMap(map);

//複数マーカー ここから
      <% @tweets.each do |tweet|%>
        ( function() { 
          let markerLatLng = { lat: <%= tweet.lat %>, lng: <%= tweet.lng %> }; // 緯度経度のデータ作成
          let marker = new google.maps.Marker({ 
            position: markerLatLng, 
            map: map 
          });
//マーカーをクリックしたとき、詳細情報を表示
          let infowindow = new google.maps.InfoWindow({
            position: markerLatLng,
            content: "<a href='<%= tweet_url(tweet.id) %>' target='_blank'><%= tweet.body %></a>"
          }); //ここで詳細ページへのリンクを表示させる
          marker.addListener('click', function() {
            infowindow.open(map, marker);
          });

       })();
      <% end %>
      //複数マーカー ここまで  
  }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['YOUR_API_KEY'] %>&callback=initMap" async defer></script>



